---
layout: page
title: Martin Vicen
version: 0.1
---

<section>
<div class="row-fluid">
  <div class="span8">
    <h1>Mgr. Martin Vicen</h1>
    <h2>An accomplished front-end web developer specializing in innovative 
      cross-browser user interfaces with emphasis on client-side logic.</h2>
  </div>
  <div class="span4">
    <img src="images/me-square-800.jpg" class="img-polaroid" alt="Martin Vicen">
  </div>
</div>
</section>





<!-- SUMMARY -->
<section>
  <div class="row-fluid">
    <div class="span3">
      <h2>Summary</h2>
    </div>
    <div class="span9">
      <p>
        I have <mark>eight years of continually-growing experience</mark> 
        in creating web applications in the scale of thousands of lines of 
        JavaScript using popular libraries such as Dōjō Toolkit as well 
        as server-side frameworks such as Zend Framework and Slim.
      </p>
      <p>
        I can offer strong understanding of core web languages, together 
        with a proficiency in creating and consuming web services, 
        and server-side technologies.
      </p>
      <p>
        I produce <mark>self-documenting, loosely coupled, modular, 
          object-oriented code</mark> employing separation of concerns 
          and other design patterns. I strongly believe in unit testing, 
          refactoring, dependency systems and "compiled" JavaScript.
      </p>
      <p>
        Though not a designer, I care deeply for usability and tend to 
        test UIs on random non-techy folks around. My experience ranges 
        from one man show analysing client's needs, converting them into 
        mock-ups and graphical design, ending with the implementation; 
        towards being a team member solely responsible for front-end.
      </p>
      <p>
        I enjoy balancing on the bleeding edge, constantly seeking means 
        <mark>to improve maintainability, performance and robustness</mark>.
        Being a keen early adopter makes me possess a firm knowledge 
        of legacy browsers' quirks.
      </p>
      <p>I have a passion for emerging technologies, figuring out the design 
        principles and patterns under the hood, often reading through source
        code and experimenting with various libraries and open source
        projects that gives me a certain degree of insight into the majority 
        of (r)evolutions around the web (recently TypeScript &amp; WinRT).
      </p>
      <p>
        I'm giving back to the open source community by sharing my 
        JavaScript and Dojo expertise answering questions at StackOverflow.
      </p>
    </div>
  </div>
</section><!-- SUMMARY:end -->





<!-- TECHNICAL SKILLS -->
<section>
  <div class="row-fluid">
    <div class="span12">
      <h2>Technical Skills</h2>
    </div>
  </div>
  
  <!-- Languages -->
  <div class="row-fluid">
    <div class="span3">
      <h3>Languages</h3>
    </div>
    <div class="span9">            
      <div>
        <h4>JavaScript</h4> 
        <span class="description">large-scale &bull; object-oriented &bull; modular</span>
        <ul class="bracket">
          <li><i class="library">Dōjō Toolkit</i></li>
          <li><i class="library">require.js</i></li>
          <li><i class="library">dgrid</i></li>
          <li><i class="library">Google Maps API</i></li>
          <li><i class="library">Twitter Bootstrap</i></li>
          <li><i class="library">Backbone.js</i></li>
        </ul>
      </div>

      <h4>HTML5 &amp; CSS3</h4>
      <span class="description">semantic markup &bull; responsive design &bull; application layouts</span>
      <ul class="bracket">
        <li><i class="keyword">AppCache</i></li>
        <li><i class="keyword">Web Workers</i></li>
        <li><i class="keyword">Local Storage</i></li>
        <li><i class="keyword">IndexedDB</i></li>
        <li><i class="keyword">Geolocation API</i></li>
      </ul>

      <h4>PHP &amp; MySQL</h4>
      <span class="description"></span>
      <ul class="bracket">
        <li><i class="library">Zend Framework</i></li>
        <li><i class="library">Slim Micro Framework</i></li>
        <li><i class="keyword">SQL</i>
      </ul>

      <h4>Java</h4>
      <span class="description">lingua franca &bull; J2SE &bull; J2EE</span>
      <ul class="bracket">
        <li><i class="keyword">Swing</i></li>
        <li><i class="keyword">Servlets/JSP</i></li>
        <li><i class="library">NetBeans Rich-Client Platform</i></li>
      </ul>

      <h4>Windows 8 Store Apps</h4>
      <span class="description">application architecture &amp; lifecycle &middot; UX concepts</span>
      <ul class="bracket">
        <li><i class="keyword">JavaScript/WinJS</i></li>
        <li><i class="keyword">C#/XAML</i></li>
      </ul>

    </div>
  </div><!-- Languages:end -->

  <!-- Concepts -->
  <div class="row-fluid">
    <div class="span3">
      <h3>Concepts</h3>
    </div>
    <div class="span9">            
      <div>
        <h4>Optimization</h4> 
        <span class="description">development code ≠ production code</span>
        <ul class="bracket">
          <li>dependency system for JavaScript via <i class="keyword">AMD</i></li>
          <li>Google Closure Compiler</li>
          <li>Apache Ant</li>
          <li><i class="library">LESS</i> CSS preprocessor</li>
          <li>CSS image sprites</li>
          <li>CSS data URIs</li>
        </ul>
      </div>
      <div>
        <h4>Patterns</h4> 
        <span class="description">decoupling for large-scale JavaScript</span>
        <ul class="bracket">
          <li><i class="keyword">MVC</i></li>
          <li><i class="keyword">Dependency Injection</i></li>
          <li><i class="keyword">Promises</i>/<i class="keyword">Deferred API</i></li>
          <li><i class="keyword">Observer</i></li>
          <li><i class="keyword">Composite</i></li>
          <li><i class="keyword">Command</i></li>
          <li><i class="keyword">Factory</i></li>
          <li><i class="keyword">Aspect-Oriented Programming</i></li>
          <li><i class="keyword">Data-binding</i></li>
          <li><i class="keyword">REST</i></li>
        </ul>
      </div>
      <div>
        <h4>Testing</h4> 
        <span class="description">test-driven development</span>
        <ul class="bracket">
          <li><i class="library">Dojo Objective Harness</i></li>
          <li><i class="library">sinon.js</i></li>
          <li><i class="library">jsTestDriver</i></li>
        </ul>
      </div>
      <div>
        <h4>Tools</h4> 
        <span class="description"></span>
        <ul class="bracket">
          <li><i class="keyword">Chrome Developer Tools</i></li>
          <li><i class="keyword">Firebug</i></li>
          <li><i class="keyword">Source Maps</i></li>
          <li><i class="keyword">Git</i></li>
          <li><i class="keyword">Subversion</i></li>
          <li><i class="keyword">SSH</i></li>
          <li><i class="keyword">NetBeans IDE</i></li>
          <li><i class="keyword">GIMP</i></li>
        </ul>
      </div>
    </div>
  </div><!-- Concepts:end -->
</section><!-- TECHNICAL SKILLS:end-->





<!-- PROJECTS -->
<section>
  <div class="row-fluid">
    <div class="span12">
      <h2>Noticeable Projects</h2>
    </div>
  </div>
  
  <!-- Czatca.cz -->
  <div class="row-fluid">
    <div class="span3">
      <h3>czatca.cz</h3>
    </div>
    <div class="span9">
      <h4>Content Management System &bull; 2011</h4>
      <p>
        A CMS created solely myself for Czech Air Traffic Controllers Association 
        to publish articles, and share documents and events' calendar
        among members.
        <!-- TODO: spomenut, ze je to one man show -->
      </p>
      <p>The application consists of three parts:</p>
      <dl>
        <dt>Web Site</dt>
        <dd>
          Implemented as Zend Framework module following the MVC paradigm
          generating semantic markup including 
          <a href="http://microformats.org/">microformats</a>.
          Other noticeable features include 
          (implemented mostly via plugin architecture):
          <ul>
            <li>
              Internationalization: multiple language versions of the user interface
              and content
            </li>
            <li>
              SEF URLs: <i class="url">czatca.cz/events/history</i> or 
              <i class="url">czatca.cz/docs/folder-name</i>
            </li>
            <li>
              Widgets: gracefully degrading helpers with fancy transition
              animations representing files and events
            </li>
          </ul>
        </dd>
        <dt>Administration Console</dt>
        <dd>
          A single page JavaScript application written in Dōjō and dgrid serving
          as a user interface to manipulate model data via RESTful API:
          <ul>
            <li>
              Object-oriented JavaScript managed with Asynchronous Module Definition API.
            </li>
            <li>
              Layout, user interface and forms written in Dijit taking full advantage of
              inheritance for data-binding, serialization and form validation.
            </li>
            <li>
              Dojo Boilerplate based - production code is optimized through 
              Dojo Build System and Google Closure Compiler. 
            </li>
          </ul>
        </dd>
        <dt>RESTful API</dt>
        <dd>
          The Zend Framework module with plugins and model base classes that I wrote to
          transparetly handle JSON (de)serialization and to convert REST API calls 
          to CRUD operations through Access Control List supporting data sorting; e.g.:
          <code>GET</code>&nbsp;<i class="url">http://czatca.cz/rest/user/?sort=+role</i>
          lists all users sorted ascending by their role.
        </dd>

      </dl>
    </div>
  </div><!-- Czatca.cz:end -->

  <!-- Support Center -->
  <div class="row-fluid">
    <div class="span3">
      <h3>Support Center</h3>
    </div>
    <div class="span9">
      <h4>Help Desk Software &bull; 2006</h4>
      <p>
        A single-page application created in a feature-driven fashion: 
        in a pair, I was writting JavaScript, HTML and CSS while 
        my counterpart was preparing web service in PHP for the same feature.
      </p>
      My accomplishments:
      <ul>
        <li>
          client and server implementation of JSON-RPC thus transparently
          invoking methods on PHP classes in JavaScript including access
          control for three levels of users (user, agent, admin).
        </li>
        <li>
          JavaScript templating system with a support for i18n.
        </li>
        <li>
          Grid widget displaying data obtained from a web service incl. pagination,
          selection, sorting and custom column, row or cell formatting.
        </li>
        <li>
          Rich-text editor and multiple UI widgets.
        </li>
        <li>
          Apache Ant build script that wraps HTML templates into JavaScript objects,
          generates proxy classes for JSON-RPC and concatenates all JavaScript 
          files through ShrinkSafe into a single file, gzips it and bumps version, so 
          the web server knows when to send <i class="url">304 Not Modified</i>.
        </li>
      </ul>
    </div>
  </div><!-- Support Center:end -->

  <!-- Shoe Selector -->
  <div class="row-fluid">
    <div class="span3">
      <h3>Shoe Selector</h3>
    </div>
    <div class="span9">
      <h4>Running Shoe Finder &bull; 2008 &bull; <button id="btn-ss">screenshots</button></h4>
      <p>
        <i>Answer-these-questions-and-we'll-find-some-shoes-that-are-right-for-you</i>
        application for the most popular running web site and print magazine
        in the Czech and Slovak Republic.
      </p>
      <ul>
        <li>front-end anatomically similar to Support Center</li>
        <li>back-end integrated into existing CMS</li>
        <li>includes an administration application for managing the shoe database</li>
        <li>Flickr API for photographs of shoes</li>
      </ul>
    </div>
  </div><!-- Shoe Selector:end -->

  <!-- PurCV -->
  <div class="row-fluid">
    <div class="span3">
      <h3>PurCV</h3>
    </div>
    <div class="span9">
      <h4>Curriculum Vitae Editor &bull; 2010</h4>
      <p>
        Guided by the set of PSDs I developed most of the JavaScript-heavy
        PurCV while mentoring and coaching junior web developer. Characteristics:
      </p>
      <ul>
        <li>unique content-aware page navigation</li>
        <li>lots of drag and drop</li>
        <li>HTML to PDF export</li>
        <li>a bitmap uploader enhanced by FileReader API</li>
      </ul>
    </div>
  </div><!-- PurCV:end -->
</section><!-- PROJECTS:end -->

      

      
      
<!-- PROFESSIONAL EXPERIENCE -->
<section>
  <div class="row-fluid">
    <div class="span12">
      <h2>Professional Experience</h2>
    </div>
  </div>

  <!-- Freelancer -->
  <div class="row-fluid">
    <div class="span3">
      <h3>2007 - 2012</h3>
    </div>
    <div class="span9">
      <h4>Freelance Web Developer</h4>
      <p>Freelancer developing web applications for various clients.</p>
      <p>
        Responsibilities ranged from requirement analysis and consultancy;
        through software and user interface design; implementation and 
        deployment; to training and maintenance. My role varied from a one-man
        show to a cooperation with multiple developers and designers.
      </p>
    </div>
  </div><!-- Freelancer:end -->

  <!-- Quality Unit -->
  <div class="row-fluid">
    <div class="span3">
      <h3>2005 - 2007</h3>
    </div>
    <div class="span9">
      <h4>Senior Web Developer</h4>
      <a class="company" href="http://www.qualityunit.com/">Quality Unit</a>
      <p>
        Full-stack Web Developer, primarily responsible for the front-end development.
      </p>
      <p>
        Responsibilities also included evaluation of JavaScript
        libraries to start up the Web 2.0 revolution within the company; i.e. 
        paradigm shift towards the client-server model where a browser-based 
        client communicates with a web service through an API. I&nbsp;implemented
        the aforementioned ideas in JavaScript and PHP/MySQL developing a couple of
        large-scale rich internet applications. I also worked on smaller,
        mostly Java&nbsp;Enterprise&nbsp;Edition, projects for clients.
      </p>
    </div>
  </div><!-- Quality Unit:end -->
  
  <!-- Adecco -->
  <div class="row-fluid">
    <div class="span3">
      <h3>2003 - 2005</h3>
    </div>
    <div class="span9">
      <h4>Project Manager</h4>
      <a class="company" href="http://www.adecco.sk/">Adecco</a>
      <p>
        Managing the project of hiring 200+ technical specialists for the 
        Hewlett-Packard European IT Operation Center in Bratislava.
      </p>
      <p>
        Responsibilities: recruitment planning; performing technical interviews;
        preparing technical skills tests; communication with the client and
        negotiation with suppliers.
      </p>
    </div>
  </div><!-- Adecco:end -->
</section><!-- PROFESSIONAL EXPERIENCE:end-->





<!-- EDUCATION -->
<section>
  <div class="row-fluid">
    <div class="span12">
      <h2>Education</h2>
    </div>
  </div>
  
  <!-- Degree -->
  <div class="row-fluid">
    <div class="span3">
      <h3>2002</h3>
    </div>
    <div class="span9">
      <h4>Gained Mgr. Degree in Modern Philology (M.A. Equivalent)</h4>
    </div>
  </div><!-- Degree:end -->
  
  <!-- University -->
  <div class="row-fluid">
    <div class="span3">
      <h3>1997 - 2002</h3>
    </div>
    <div class="span9">
      <h4>University of Ss. Cyril and Methodius, Faculty of Arts, Trnava, Slovakia</h4>
    </div>
  </div><!-- University:end -->
</section><!-- EDUCATION:end -->





<!-- VOLUNTEERING -->
<section>
  <div class="row-fluid">
    <div class="span12">
      <h2>Volunteering</h2>
    </div>
  </div>
  
  <!-- Questions and Answers -->
  <div class="row-fluid">
    <div class="span3">
      <h3>Knowledge Sharing</h3>
    </div>
    <div class="span9">
      <p>
        I'm proud to share my JavaScript and Dojo expertise at 
        <a href="http://stackoverflow.com/users/1087464/phusick">StackOverflow</a>.
        Here are some of my finest bits:
      </p>
      <ul class="unstyled">
        <li>
          <a href="http://stackoverflow.com/questions/8512483/how-to-do-something-while-a-dojo-xhr-request-is-waiting-or-loading/8515115#8515115">
            How to do something while a Dojo XHR request is waiting or loading?
          </a>
        </li>
        <li>
          <a href="http://stackoverflow.com/questions/10355559/dojo-garbage-collection-resource-freeing-techniques/10359364#10359364">
            Dojo Garbage Collection/Resource Freeing Techniques?
          </a>
        </li>
        <li>
          <a href="http://stackoverflow.com/questions/10401512/dojo-dialog-with-confirmation-button/10405938#10405938">
            Dojo Dialog with a confirmation button.
          </a>
        </li>
        <li>
          <a href="http://stackoverflow.com/questions/10709426/synchronize-interdependent-dojo-widgets-values/10718753#10718753">
            Synchronize interdependent Dojo widgets/values.
          </a>
        </li>
        <li>
          <a href="http://stackoverflow.com/questions/12167742/binding-data-from-one-tab-to-another-in-dojo-on-tab-open/12173727#12173727">
            Binding data from one tab to another.
          </a>
        </li>
        <li>
          <a href="http://stackoverflow.com/questions/10953316/layout-implementation-for-dojo-mvc/10955356#10955356">
            Layout implementation for Dojo MVC.
          </a>
        </li>
        <li>
          <a href="http://stackoverflow.com/questions/12545899/how-to-use-dijit-requires-in-parsed-dojo-contentpane/12547452#12547452">
            How to use Dijit requires in parsed Dojo ContentPane.
          </a>
        </li>
        <li>
          <a href="http://stackoverflow.com/questions/10995545/dojo-tree-bridge-from-unformatted-json-to-expected-format/11095793#11095793">
            Dojo Tree: bridge from unformatted json to expected format.
          </a>
        </li>
        <li>
          <a href="http://stackoverflow.com/questions/8454552/dojo-cant-programmatically-concatenate-djits/8455984#8455984">
            Dojo can't programmatically concatenate Dijits?
          </a>
        </li>
        <li>
          <a href="http://stackoverflow.com/questions/9837256/custom-http-headers-with-jsonrest-store-dojo/9839061#9839061">
            Custom HTTP headers with JsonRest Store.
          </a>
        </li>
        <li>
          <a href="http://stackoverflow.com/questions/8480919/javacript-dojo-object-reference-to-itself/8489946#8489946">
            Object reference to itself.
          </a>
        </li>
        <li>
          <a href="http://stackoverflow.com/questions/12857569/dojo-on-with-mouseenter-mouseleave-not-working-in-google-chrome/12857789#12857789">
            dojo/on with mouseenter &amp; mouseleave not working in Google Chrome.
          </a>
        </li>
        <li>
          <a href="http://stackoverflow.com/questions/10832653/dojo-contentpane-inner-div-height-changing-on-contentpane-resize/10834476#10834476">
            ContentPane inner &lt;div&gt; height changing on ContentPane resize
          </a>
        </li>
        <li>
          <a href="http://stackoverflow.com/questions/10885230/generic-loading-icon-in-dojo/10895198#10895198">
            Generic loading icon in Dojo.
          </a>
        </li>
        <li>
          <a href="http://stackoverflow.com/questions/12154748/how-to-retreive-xhr-response-code-timestamp-of-amdized-dojo/12155418#12155418">
            How to retreive XHR response code (+timestamp) of AMD'ized Dojo?
          </a>
        </li>
        <li>
          <a href="http://stackoverflow.com/questions/12128823/javascript-scope-how-to-create-anonymous-functions-with-different-values/12131756#12131756">
            JavaScript Scope: How to create anonymous functions with different values?
          </a>
        </li>
        <li>
          <a href="http://stackoverflow.com/questions/12830631/selector-inside-selector-passing-parameter-jquery-code-to-dojo/12840808#12840808">
            jQuery code to Dojo: selector inside selector passing parameter.
          </a>
        </li>
        <li>
          <a href="http://stackoverflow.com/questions/12647297/how-to-rotate-dojox-gfx-shape-at-new-position/12647840#12647840">
            How to rotate DojoX GFX shape at new position?
          </a>
        </li>
        <li>
          <a href="http://stackoverflow.com/questions/12625177/dojo-tree-menu-expand-node-onmouserover/12626362#12626362">
            Dojo Tree: expand node onMouseOver.
          </a>
        </li>
        <li>
          <a href="http://stackoverflow.com/questions/10984855/simple-login-implementation-for-dojo-mvc/11017097#11017097">
            Simple Login implementation for Dojo MVC.
          </a>
        </li>
        <li>
          <a href="http://stackoverflow.com/questions/12216280/dgrid-set-focus-on-cell/12249577#12249577">
            Dgrid - set focus on a cell.
          </a>
        </li>
        <li>
          <a href="http://stackoverflow.com/questions/10982161/dojo-how-to-override-a-method-for-all-instances-without-inheritance/10983083#10983083">
            How to override a method for all instances without inheritance?
          </a>
        </li>
        <li>
          <a href="http://stackoverflow.com/questions/12786730/keeping-one-instance-of-a-dojo-module/12787749#12787749">
            Keeping one instance of a Dojo module.
          </a>
        </li>
        <li>
          <a href="http://stackoverflow.com/questions/12782976/dojo-declarative-vs-programmatic-creation-of-select-elements-with-stores/12783555#12783555">
            Dojo declarative vs. programmatic creation of Select element with stores.
          </a> 
        </li>
        <li>
          <a href="http://stackoverflow.com/questions/12120991/how-do-i-reference-the-containing-class-from-a-google-maps-event-using-dojo/12121235#12121235">
            How do I reference the containing class from a Google Maps event using Dojo?
          </a> 
        </li>
        <li>
          <a href="http://stackoverflow.com/questions/10907935/can-dojo-bind-user-defined-event/10908394#10908394">
            Can Dojo emit user-defined event?
          </a> 
        </li>
        <li>
          <a href="http://stackoverflow.com/questions/10346182/why-cant-i-set-a-dojo-deferreds-property-like-dojo-store-jsonrest/10358819#10358819">
            Why can't I set a Dojo Deferred's property like dojo.store.JsonRest?
          </a> 
        </li>
        <li>
          <a href="http://stackoverflow.com/questions/13226264/using-dojos-dgrid-jsonrest-and-subrows-arrays/13249925#13249925">
            Using Dojo's dgrid, JsonRest and subrows/arrays.
          </a> 
        </li>
        <li>
          <a href="http://stackoverflow.com/questions/12381115/dojo-1-8-integrating-html5-postmessage/12387490#12387490">
            Dojo 1.8: integrating HTML5 postMessage.
          </a> 
        </li>
        <li>
          <a href="http://stackoverflow.com/questions/11004297/basic-dojo-1-7-simple-web-application-with-an-elegant-infrastructure-e-g-dojo-b/11011973#11011973">
            Basic Dojo 1.7 simple web application with an elegant infrastructure.
          </a> 
        </li>
        <li>
          <a href="http://stackoverflow.com/questions/12360885/what-is-the-best-way-to-populate-the-combobox-dojo-1-8-programmatically/12385869#12385869">
            What is the best way to populate Dojo's ComboBox programmatically?
          </a> 
        </li>
        <li>
          <a href="http://stackoverflow.com/questions/12010731/is-it-possible-to-filter-data-in-a-dgrid-like-you-can-in-a-datagrid-if-so-how/12198356#12198356">
            Is it possible to filter data in a dgrid like you can in a datagrid? If so, how?
          </a> 
        </li>
        <li>
          <a href="http://stackoverflow.com/questions/12207364/how-to-query-a-dgrid-on-multiple-columns/12227056#12227056">
            How to query a dgrid on multiple columns?
          </a> 
        </li>
      </ul>

    </div>
  </div><!-- Questions and Answers:end -->
</section><!-- VOLUNTEERING:end -->





<!-- ADDITIONAL INFORMATION -->
<section>
  <div class="row-fluid">
    <div class="span12">
      <h2>Additional Information</h2>
    </div>
  </div>
  
  <!-- Languages -->
  <div class="row-fluid">
    <div class="span3">
      <h3>Languages</h3>
    </div>
    <div class="span9">
      <ul class="unstyled">
        <li>Slovak (native)</li>
        <li>English (fluent)</li>
        <li>Danish (lower-intermediate; module 3 of 5)</li>
      </ul>
    </div>
  </div><!-- Languages:end -->
  
  <!-- Profiles -->
  <div class="row-fluid">
    <div class="span3">
      <h3>Profiles</h3>
    </div>
    <div class="span9">
      <ul class="unstyled">
        <li>
          <a href="http://stackoverflow.com/users/1087464/phusick">StackOverflow</a>
        </li>
        <li>
          <a href="https://github.com/phusick">GitHub</a>
        </li>            
        <li>
          <a href="https://picasaweb.google.com/113381714724058532013?noredirect=1">Picasa Web Albums</a>
        </li>
        <li>
          <a href="https://everplaces.com/phusick">Everplaces</a>
        </li>
      </ul>
    </div>
  </div><!-- Profiles:end -->
  
</section><!-- ADDITIONAL INFORMATION:end -->


<!-- SCREENSHOT GALLERY -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="js/touchcarousel/jquery.touchcarousel-1.0.min.js"></script>

<script type="text/template" id="shoe-selector-template">
  <div id="carousel-gallery" class="touchcarousel  black-and-white popup-carousel">  
    <ul class="touchcarousel-container">
      <li class="touchcarousel-item">
        <img 
          src="images/screenshots/shoe-selector/shoeselector-list.png"
          width="635"
          height="600" />      
      </li>  
      <li class="touchcarousel-item">
        <img 
          src="images/screenshots/shoe-selector/shoeselector-filters.png"
          width="635"
          height="600" />      
      </li>
      <li class="touchcarousel-item">
        <img 
          src="images/screenshots/shoe-selector/shoeselector-detail.png"
          width="655" 
          height="600" />      
      </li>
      <li class="touchcarousel-item">
        <img 
          src="images/screenshots/shoe-selector/shoeselector-admin-selector.png" 
          width="1024" 
          height="600" />      
      </li>
      <li class="touchcarousel-item">
        <img
          src="images/screenshots/shoe-selector/shoeselector-admin-shoes.png"
          width="1024"
          height="600" />      
      </li>   
      <li class="touchcarousel-item">
        <img 
          src="images/screenshots/shoe-selector/shoeselector-admin-labels.png"
          width="1024" 
          height="600" />      
      </li>       
      <li class="touchcarousel-item">
        <img 
          src="images/screenshots/shoe-selector/shoeselector-admin-add-shoe.png" 
          width="1024" 
          height="600" />      
      </li>       
      <li class="touchcarousel-item">
        <img 
          src="images/screenshots/shoe-selector/shoeselector-admin-flickr.png" 
          width="1024"
          height="600" />      
      </li>       
    </ul>
  </div>
</script>

<script>

</script>

<script>
  jQuery(function($) {
    var Underlay = {% include js/Underlay.js %}
    var PopupGallery = {% include js/PopupGallery.js %}

    var shoeSelectorTemplate = $("#shoe-selector-template").text();
    var shoeSelector = new PopupGallery(shoeSelectorTemplate, Underlay.getDefault());


    $("#btn-ss").click(function() {
      showUnderlay();
    });

    function showUnderlay() {
      shoeSelector.show();
    }

  });
</script>


