
@import url('pfdindisplaypro-inline.css');

h1,h2,h3,h4,h5,h6 { font-family: PFDinDisplayPro; }

mark {
  background-color: #FFD;
}

i.keyword, i.url {
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
  font-size: 12px;
  font-weight: normal;

  background-color: #f7f7f7;
  color: #666;

  padding: 0px 3px;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
}

i.library {
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;

  background-color: #f7f7f7;
  color: teal;

  padding: 0px 3px;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
}

ul.bracket {
  margin-left: 0;
  list-style: none;
}

ul.bracket li {
  display: inline;
  font-size: 12px;
}

ul.bracket li:after {
  content: ' \2022 ';
  color: #CCC;
}

ul.bracket li:last-child:after {
  content: '';
}

span.description {
  color: #666;
  padding-left: 1em;
}

h4 {
  display: inline;
}

ul.languages li {
  margin-top: 1em;
}

h1 {
  font-weight: 300;
}


h2 {
  color: #00BBE8;
  font-size: 24.5px;
  font-weight: 300;
}

h3 {
  margin: 0;
  color: #aaa;
  font-size: 22px;
  font-weight: 300;
  line-height: 24px;
}

h4 {
  font-weight: 600;
}

section {
  position: relative;
  margin-top: 3em;
}

.project,
.project-description {
  position: relative;
}

.btn-project {
  position: absolute;
  top: -9px;
  right: 0;
}

/*
 * Underlay
 */

.underlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .5;
  z-index: 100;
}

.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 101;
}

.no-scroll {
  overflow: hidden !important;
}

.popup-wrapper .btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 110;
  display: block;
}

/*
 * TouchCarousel 
 */

.popup-carousel {
  width: 100%;
  height: 600px;
  margin: 0;
  padding: 15px 0;
  background: #EFEFEF;
  overflow: hidden !important;
}   

.popup-carousel .touchcarousel-wrapper {
  overflow: visible;
  margin-left: 50px;
}

.popup-carousel .touchcarousel-item {
  margin-right: 15px;   
  background: #CCC; 
  height: 600px;
}

.popup-carousel .arrow-icon.left {
  left: 25px;       
}

.popup-carousel .arrow-icon.right {
  right: 25px;      
}

.popup-carousel .arrow-holder {
  width: 60px;  
}

.popup-carousel  .scrollbar-holder {
  bottom: 6px;
}

.popup-carousel img {
  max-width: none;
  box-shadow: 0 0 6px 2px #AAA;
  width: 1024px;
  height: 600px;
}