@import url('pfdindisplaypro-inline.css');

h1,h2,h3,h4,h5,h6 { font-family: PFDinDisplayPro; }

mark {
  background-color: #FFD;
}

i.keyword, i.url {
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
  font-size: 12px;
  font-weight: normal;

  background-color: #f7f7f7;
  color: #666;

  padding: 0px 3px;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
}

i.library {
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;

  background-color: #f7f7f7;
  color: teal;

  padding: 0px 3px;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
}

ul.bracket {
  margin-left: 0;
  list-style: none;
}

ul.bracket li {
  display: inline;
  font-size: 12px;
}

ul.bracket li:after {
  content: ' \2022 ';
  color: #CCC;
}

ul.bracket li:last-child:after {
  content: '';
}

span.description {
  color: #666;
  padding-left: 1em;
}

h4 {
  display: inline;
}

ul.languages li {
  margin-top: 1em;
}

h1 {
  font-weight: 300;
}


h2 {
  color: #00BBE8;
  font-size: 24.5px;
  font-weight: 300;
}

h3 {
  margin: 0;
  color: #aaa;
  font-size: 22px;
  font-weight: 300;
  line-height: 24px;
}

h4 {
  font-weight: 600;
}

section {
  margin-top: 3em;
}
