<div class="touchcarousel  black-and-white popup-carousel">  
  <ul class="touchcarousel-container">
    <li class="touchcarousel-item">
      <img src="images/screenshots/cms/cms-admin-docs.png" />      
    </li>
    <li class="touchcarousel-item">
      <img src="images/screenshots/cms/cms-admin-event-create.png" />      
    </li>   
    <li class="touchcarousel-item">
      <img src="images/screenshots/cms/cms-admin-post-update.png" />      
    </li>       
    <li class="touchcarousel-item">
      <img src="images/screenshots/cms/cms-admin-news.png" />      
    </li>       
    <li class="touchcarousel-item">
      <img src="images/screenshots/cms/cms-site-events.png" />      
    </li>       

  </ul>
</div>