<div class="touchcarousel  black-and-white popup-carousel">  
  <ul class="touchcarousel-container">
    <li class="touchcarousel-item">
      <img src="images/screenshots/purcv/purcv-photo.png" />      
    </li>
    <li class="touchcarousel-item">
      <img src="images/screenshots/purcv/purcv-dnd-languages.png" />      
    </li>       
    <li class="touchcarousel-item">
      <img src="images/screenshots/purcv/purcv-jobs.png" />      
    </li>
    <li class="touchcarousel-item">
      <img src="images/screenshots/purcv/purcv-photo-upload.png" />      
    </li>   
  </ul>
</div>