<div class="touchcarousel  black-and-white popup-carousel">  
  <ul class="touchcarousel-container">
    <li class="touchcarousel-item">
      <img 
        src="images/screenshots/shoe-selector/shoeselector-list.png"
        style="width:635px;" />      
    </li>  
    <li class="touchcarousel-item">
      <img 
        src="images/screenshots/shoe-selector/shoeselector-filters.png"
        style="width:635px;" />
    </li>
    <li class="touchcarousel-item">
      <img 
        src="images/screenshots/shoe-selector/shoeselector-detail.png"
        style="width:655px;" />
    </li>
    <li class="touchcarousel-item">
      <img src="images/screenshots/shoe-selector/shoeselector-admin-selector.png" />      
    </li>
    <li class="touchcarousel-item">
      <img src="images/screenshots/shoe-selector/shoeselector-admin-shoes.png" />      
    </li>   
    <li class="touchcarousel-item">
      <img src="images/screenshots/shoe-selector/shoeselector-admin-labels.png" />      
    </li>       
    <li class="touchcarousel-item">
      <img 
        src="images/screenshots/shoe-selector/shoeselector-admin-add-shoe.png" />      
    </li>       
    <li class="touchcarousel-item">
      <img src="images/screenshots/shoe-selector/shoeselector-admin-flickr.png" />      
    </li>       
  </ul>
</div>