<div class="touchcarousel  black-and-white popup-carousel">  
  <ul class="touchcarousel-container">
    <li class="touchcarousel-item">
      <img src="images/screenshots/support-center/supportcenter-tickets.png" />      
    </li>
    <li class="touchcarousel-item">
      <img src="images/screenshots/support-center/supportcenter-ticket.png" />      
    </li>   
    <li class="touchcarousel-item">
      <img src="images/screenshots/support-center/supportcenter-ticket-new.png" />      
    </li>       
    <li class="touchcarousel-item">
      <img src="images/screenshots/support-center/supportcenter-settings.png" />      
    </li>
    <li class="touchcarousel-item">
      <img src="images/screenshots/support-center/supportcenter-knowledgebase.png" />      
    </li>     
  </ul>
</div>